body {
	font: 16px;
	margin: 0 auto;
	font-family: 'Play', sans-serif;
	text-align: center;
	background-color: #2f2f2f;
	color: #D3D3D3;
}

div#clock {
    max-width: 550px;
    margin: 0 auto;
}

h1 {
	font-size: 1.5em;
	margin: .5em auto;
	color:#D8412C;
}

div#timers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5em;
}

div.timer {
    padding: 1em 0;
    width: 50%;
}

h2 {
    font-size: 1.2em;
	margin: 0;
    margin-bottom: .25em;
}

div.interactions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
}

button {
	border-radius: 5px;
    border: 1px solid #B03220;
	background-color:#D8412C;
	color: #D3D3D3;
}

button:hover, button:focus {
	color: #000;
}

button:active,  {
	border: 1.5px solid #B03220;
}

div.increment {
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2em;
}

div#break-length, div#session-length {
    font-size: 2em;
    padding: .5em;
    width: 1.5em;
    margin: auto 0;
}

button.lengthBtn {
	font-size: 2em;
	width: 1.5em;
	height: 1.5em;
	margin: 0.12em;
	padding: 0;
	box-shadow: 1.5px 2px 2px 0px #B03220;
	transition-property: box-shadow;
	transition-duration: 1s;
}

button.lengthBtn:active, button.lengthBtn:focus {
	box-shadow: none;
	outline: none;
}

div#count-time-display {
    max-width: 390px;
    margin: 0 auto;
    margin-bottom: .25em;
    font-size: 2em;
    border: 2.5px #000 solid;
    border-radius: 35px;
    background-color: #424242;
}
div.Session {
	color: #D3D3D3;
}
div.Break {
	color: #2ECC51;
}

h2#timer-label {
    display: inline-block;
    padding-top: .25em;
    padding-right: .5em;
    margin: 0 auto;
}

h4#counter {
    display: inline-block;
    font-size: 1.25em;
    padding: 0;
    margin: 0;
}

h3#time-left {
    margin: 0 auto;
    font-size: 3.5em;
}

button#start_stop, button#reset {
    font-size: 1.75em;
    padding: .5em;
    margin: .5em;
    width: 2.75em;
    height: 2.75em;
    border-radius: 50%;
}
/*
button#start_stop {
    background-color: #2ECC51;
    color: #000;
    border: 1px solid #29b748;
}*/

/*large screen styles*/
@media screen and (min-width: 525px) {
    h1 {
        font-size: 2em;
        margin-top: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

}
